header{
    background: black;
    position:sticky;
    top:0;
    left:0;
    width: 100%-1.5vw;
    height: 5vh;
    padding: 1.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

header .logo{
    float:left;
    color: white;
}

.nav_links{  
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_links li{
    text-decoration: none;
    background: white;
    padding: 8px 12px 8px 12px;
    border-radius: 100px;
    list-style: none;
    margin-left: 50px;
    
}

